*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

:root{
  --color-yellow-main: #fb0;
  --color-yellow-light: #fea;
  --color-grey: #f5f5f5;
  --color-black: #000;
  --color-light-black: #444;

  --font-Satoshi-Black: "Satoshi-Black", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-satoshi-regular: "Satoshi-Medium", sans-serif;

  /*  (black with 75% opacity for lightbox background) */
}

img{
  width: 100%;
}

body{
  margin: 0;
  font-family: var(--font-satoshi-regular);
  /* font-size: 21px; */
}

input{
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin: 5px 0;
  width: 0;
  flex-grow: 1;
  font-family: var(--font-satoshi-regular);
  color: var(--color-light-black);
  font-size: 15px;
}

input:focus{
  outline: none;
}

h1,h2,h3{
  margin: 5px 0;
  text-align: center;
}

p{
  margin: 0;
}

.container{
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form div{
  width: 100%;
  display: flex;
}

/* Scrollable div */

.scrollable{
  overflow: auto;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey) var(--color-yellow-main);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #acaaaa;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow-main);
  border-radius: 20px;
  /* border: 3px solid ; */
}


/* Text */

.text--yellow{
  color: var(--color-yellow-main)
}

/* Buttons */

.btn{
  padding: 10px 15px;
  border: 1px solid var(--color-light-black);
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-satoshi-regular);
  font-size: 16px;
}

.btn--full{
  width: 100%;
}

.btn--yellow{
  background: var(--color-yellow-main);
  border: none;
}

.btn--disabled{
  border-radius: 5px;
  padding: 10px 15px;
  color: #6b7280;
  border: 1px solid #d1d5db;
}

.btn--disabled:hover{
  cursor: inherit;
}

.btn--small{
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 4px;
}

/* Icon */

.icon{
  width: 20px;
  height: 20px;
}

.icon--copy{
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.icon--small{
  width: 14px;
  height: 14px;
}

.address{
  border: 1px solid var(--color-yellow-main);
  padding: 5px 10px;
  border-radius: 6px;
  position: relative;
}

.address:hover{
  cursor: pointer;
  color: var(--color-light-black);
  border: 1px solid var(--color-yellow-light);
}

.copy-notice{
  position: absolute;
  z-index: 1;
  background: white;
  width: max-content;
  border-radius: 10px;
  padding: 10px;
  top: 15px;
  left: 150px;
}

.header{
  position: absolute;
  top: 10px;
}


.main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



/* Create Wallet */

.create-wallet{
  background-color: var(--color-grey);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  row-gap: 50px;
  margin-top: 25px;
}

.app{
  display: flex;
  justify-Content: center;
  background-color: var(--color-grey);
  border-radius: 20px;
}

.wallet{
  margin-top: 20px;
  padding: 25px;
  width: 700px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.wallet__mid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.wallet__deposit{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 15px;
  border-radius: 10px;
}

.wallet__submit{
  margin-top: 40px;
}


/* Wallet__Transcations */

.wallet__transactions{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 500px;
  height: 600px;
  padding: 20px;
}

.wallet__transactions .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 13px;
  max-height: 100%;
}

.wallet__transactions .btn, .wallet__transactions .btn--disabled{
  font-size: 12px;
  margin: 0px 2px;
}

.transaction{
  display: grid;
  grid-template-columns: 15% 15% 16% 20% 34%;
  width: 100%;
  justify-items: center;
  margin: 5px 0;
}

.transactions__header{
  font-weight: bold;
}


/* Loading Overlay */


.app__overlay{
  position: absolute;
  background: rgba(0,0,0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

